@model IEnumerable<GISProject.Models.PointOfInterest>

@{
    ViewData["Title"] = "Points of Interest";
}

<h2>Points of Interest</h2>

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>OpenLayers Polygon</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@latest/ol.css">

    <script src="https://cdn.jsdelivr.net/npm/ol@latest/dist/ol.js"></script>

</head>

<body>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Associated Trail</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var poi in Model)
            {
                <tr>
                    <td>@poi.Name</td>
                    <td>@poi.Category</td>
                    <td>@poi.Description</td>
                </tr>
            }
        </tbody>
    </table>

</body>

</html>
